/** TiaraAdmin */
body {
    padding-top: 70px;
    padding-bottom: 40px;
}

/** Alerts */
.alert h1, .alert h2, .alert h3, .alert h4, .alert h5, .alert h6 {
    margin: 0 0 10px 0;
    line-height: 40px;
    background-size: 40px;
    background-repeat: no-repeat;
    padding-left: 45px;
    font-size: 36px;
}
.panel-danger .panel-title,
.panel-warning .panel-title,
.panel-info .panel-title,
.panel-success .panel-title {
    line-height: 18px;
    background-size: 18px;
    background-repeat: no-repeat;
    padding-left: 22px;
    font-size: 16px;
    margin-left: -4px;
}
.alert-danger h1, .alert-danger h2, .alert-danger h3, .alert-danger h4, .alert-danger h5, .alert-danger h6,
.panel-danger .panel-title {
    background-image: url(../img/icons/danger.svg);
}
.alert-warning h1, .alert-warning h2, .alert-warning h3, .alert-warning h4, .alert-warning h5, .alert-warning h6,
.panel-warning .panel-title {
    background-image: url(../img/icons/warning.svg);
}
.alert-info h1, .alert-info h2, .alert-info h3, .alert-info h4, .alert-info h5, .alert-info h6,
.panel-info .panel-title {
    background-image: url(../img/icons/info.svg);
}
.alert-success h1, .alert-success h2, .alert-success h3, .alert-success h4, .alert-success h5, .alert-success h6,
.panel-success .panel-title {
    background-image: url(../img/icons/success.svg);
}
.icon-forbidden {
    background-image: url(../img/icons/fence.svg) !important;
    padding-left: 48px !important;
}
.icon-login {
    background-image: url(../img/icons/key.svg) !important;
}