<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><?= $this->translate('Add category'); ?></h1>
    </div>

    <div class="panel-body">
        <?= $this->form($this->form); ?>
    </div>
</div>