<?php $this->headTitle($this->translate('Login')); ?>

<?= $this->alerts(); ?>

<div class="panel panel-info">
    <div class="panel-heading">
        <h1 class="panel-title icon-login"><?= $this->translate('Login'); ?></h1>
    </div>

    <div class="panel-body">
        <p>admin / admin</p>

        <?= $this->form($this->form); ?>
    </div>
</div>
