<div class="panel panel-danger">
    <div class="panel-heading">
        <h1 class="panel-title">Danger</h1>
    </div>

    <div class="panel-body">
        Something <strong>dangerous</strong> happened!
    </div>
</div>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title">Warning</h2>
    </div>

    <div class="panel-body">
        Something dangerous <strong>might</strong> happen!
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
    </div>

    <div class="panel-body">
        Something you should <strong>know</strong> about!
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h4 class="panel-title">Success</h4>
    </div>

    <div class="panel-body">
        Something was <strong>successful</strong>!
    </div>
</div>