<?php if (isset($this->pages[0]) && $this->isAllowed($this->pages[0]->getResource())): ?>
    <ol class="breadcrumb">
        <li><?php echo $this->translate('You are here'); ?>:</li>

        <?php /** @var \Zend\Navigation\Page\Mvc $page */ ?>
        <?php foreach ($this->pages as $i => $page): ?>
            <?php if ($i < count($pages) - 1): ?>
                <li><a href="<?= $page->getHref(); ?>"><?= $this->translate($page->getLabel()); ?></a></li>
            <?php else: ?>
                <li class="active"><?= $this->translate($page->getLabel()); ?></li>
            <?php endif; ?>
        <?php endforeach; ?>
    </ol>
<?php endif; ?>