<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title"><?= $this->translate('Exception Information'); ?></h2>
    </div>

    <div class="panel-body">
        <?php if(count($this->exceptions) > 1): ?>
            <div class="">

                <div style="float:left; position:relative; margin-top:-1.75em; margin-left:-5.5em; height:5em; width:5em;">
                    <img src="<?= $this->basePath() . '/img/icons/arrow.svg'; ?>" width="100%">
                </div>

                The <?php echo get_class($this->e); ?> was caused by <?php if(count($this->exceptions) == 2): ?>another exception<?php else: ?>other exceptions<?php endif; ?>. A full chain of exceptions is listed below.
            </div>
        <?php endif; ?>

        <?php foreach($this->exceptions as $ei => $e): ?>
            <?php /** @var \Exception $e */ ?>
            <section id="exception<?php echo $ei; ?>" class="<?php if($ei+1 != count($this->exceptions)): ?>closed<?php endif; ?>">
                <h3 class="exception">
                    <a href="#exception<?php echo $ei; ?>" title="Toggle exception information" onclick="this.parentNode.parentNode.className = this.parentNode.parentNode.className == 'closed' ? '' : 'closed'; return false;"><?php echo get_class($e); ?></a>
                </h3>

                <div id="exception<?php echo $ei; ?>container" class="exception">
                    <?php $msg = nl2br(htmlspecialchars($e->getMessage())); ?>
                    <?php if($msg != ''): ?>
                        <div class="alert alert-warning">
                            <h4 class="pull-left">&nbsp;</h4>
                            <?= $msg; ?>
                        </div>
                    <?php endif; ?>

                    <h4><?= $this->translate('Stack Trace'); ?></h4>
                    <ol style="margin: 15px 10px 15px 20px;">
                        <?php
                        $i = 0;
                        $highlights = array();
                        $filepaths = array();
                        foreach($this->exception($e)->getFixedTrace(isset($exceptions[$ei+1]) ? $exceptions[$ei+1] : null) as $trace):
                            $i++;
                            if(isset($trace['file']) && !isset($highlights[$trace['file']])) {
                                $highlights[$trace['file']] = $this->exception()->highlightFile($trace['file']);
                            }
                            ?>
                            <li id="exception<?php echo $ei; ?>frame<?php echo $i; ?>"<?php if($i != 2): ?> class="closed"<?php endif; ?>>
                                <?= $this->translate('at'); ?> <?php if($i > 1): ?>
                                <strong>
                                    <?php if(isset($trace['class'])): ?>
                                        <?php echo $trace['class'], htmlspecialchars($trace['type']); ?>
                                    <?php endif; ?>

                                    <?php echo $trace['function']; ?>(
                                </strong>

                                <?php if(isset($trace['args'])): ?>
                                    <?php echo $this->exception()->buildParamList($trace['args']); ?>
                                    <strong>)</strong>
                                <?php endif; ?>
                            <?php else: ?>
                                <em>exception origin</em><?php endif; ?><br />in <?php if(isset($trace['file'])): echo preg_replace(array_keys($filepaths), $filepaths, $trace['file']); ?> <a href="#frame<?php echo $i; ?>" class="toggle" title="Toggle source code snippet" onclick="this.parentNode.className = this.parentNode.className == 'closed' ? '' : 'closed'; return false;">line <?php echo $trace['line']; ?></a><ol start="<?php echo $start = $trace['line'] < 4 ? 1 : $trace['line'] - 3; ?>" style="padding-left:<?php echo strlen($start+6)*0.6+2; ?>em"><?php
                                $lines = array_slice($highlights[$trace['file']], $start - 1, 7, true);

                                    foreach($lines as $key => &$line) {
                                        if($key + 1 == $trace['line']): ?>
                                            <li class="highlight">
                                                <img src="<?= $this->basePath() . '/img/icons/warning-2.svg'; ?>" style="width: 1em; float: left;"><?php
                                        else: ?>
                                            <li><?php
                                        endif; ?>

                                        <code><?php echo $line; ?></code>
                                        </li><?php
                                    }
                                    ?>
                                </ol>
                                <?php else:
                                    // no info about origin file ?><em>unknown</em><?php
                                endif; ?>
                            </li>
                        <?php endforeach; ?>
                    </ol>
                </div>
            </section>
        <?php endforeach; ?>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title"><?= $this->translate('Version Information'); ?></h3>
    </div>

    <dl class="panel-body">
        <dt>PHP:</dt>
        <dd><?php echo htmlspecialchars(phpversion()); ?></dd>
        <dt>System:</dt>
        <dd><?php echo htmlspecialchars(php_uname()); ?></dd>
        <dt>Timestamp:</dt>
        <dd><?php echo gmdate(DATE_ISO8601); ?></dd>
    </dl>
</div>