<ul class="nav navbar-nav">
    <?php
    /** @var \Zend\Navigation\Navigation $container */
    $container = $this->container;

    /** @var \Zend\Navigation\Page\AbstractPage $home */
    foreach ($container->getPages() as $home) {
        if (!$this->isAllowed($home->getResource())) continue;

        $class = ($home->getHref() == $this->url(null, array(), true)) ? 'active' : '';
        ?>
        <li class="<?= $class; ?>">
            <a href="<?= $home->getHref(); ?>">
                <?= $this->translate($home->getLabel()); ?>
            </a>
        </li>
        <?php
        /** @var \Zend\Navigation\Page\AbstractPage $page */
        foreach ($home->getPages() as $page) {
            ?>
            <li class="<?= $page->isActive(true) ? 'active' : ''; ?>">
                <a href="<?= $page->getHref(); ?>"><?= $this->translate($page->getLabel()); ?></a>
            </li>
            <?php
        }
    }
    ?>
</ul>