<?php
/** @var \TiaraAdmin\Entity\UserInterface $user */
$user = $this->user();
?>
<ul class="nav navbar-nav pull-right">
    <?php if (null !== $user): ?>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <?= $user->getUsername();?>
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                <li class="divider"></li>
                <li><a href="<?= $this->url('logout'); ?>"><?= $this->translate('Logout'); ?></a></li>
            </ul>
        </li>
    <?php else: ?>
        <?php
        /** @var \Zend\Form\Form $form */
        $form = $this->forms('Admin\Form\Login');
        $form->setAttribute('action', $this->url('login'));
        $form->setAttribute('class', 'navbar-form');

        echo $this->form($form);
        ?>
    <?php endif; ?>
</ul>