<?= $this->navigation('AdminNavigation')->breadcrumbs()->setPartial('partials/breadcrumbs')
    ->setMinDepth(0)
    ->setRenderInvisible(true); ?>

<?php
/** @var \Zend\Navigation\Page\AbstractPage[] $pages */
$pages = array();
/** @var \Zend\Navigation\Navigation $container */
$container = $this->navigation('AdminNavigation')->getContainer();
/** @var \Zend\Navigation\Page\AbstractPage $home */
foreach ($container->getPages() as $home) {
    if (!$this->isAllowed($home->getResource())) continue;

    /** @var \Zend\Navigation\Page\AbstractPage $module */
    foreach ($home->getPages() as $module) {
        if ($module->isActive(true)) {
            /** @var \Zend\Navigation\Page\AbstractPage $page */
            foreach ($module->getPages() as $page) {
                if ($page->isActive()) {
                    $this->headTitle($this->translate($page->getTitle() ?: $page->getLabel()), 'PREPEND');
                    $page->setClass('active');
                }

                if ($page->isVisible()) {
                    $pages[] = $page;
                }
            }
            $this->headTitle($this->translate($module->getTitle() ?: $module->getLabel()), 'PREPEND');
        }
    }
}
?>
<div class="row">
    <?php if (count($pages) > 0): ?>
        <div class="col-md-3">
            <div class="list-group">
                <?php foreach ($pages as $page): ?>
                    <a href="<?= $page->getHref(); ?>" class="list-group-item <?= $page->getClass(); ?>">
                        <?= $this->translate($page->getLabel()); ?>
                    </a>
                <?php endforeach; ?>
            </div>
        </div>

        <div class="col-md-9">
            <?= $this->alerts('tiara-admin'); ?>
            <?= $this->content; ?>
        </div>
    <?php else: ?>
        <div class="col-md-12">
            <?= $this->alerts('tiara-admin'); ?>
            <?= $this->content; ?>
        </div>
    <?php endif; ?>
</div>