<?= $this->doctype(); ?>
<html lang="en" style="height: 100%;">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle()->setSeparator(' / ')->setAutoEscape(false); ?>

        <?= $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0')
                             ->appendHttpEquiv('X-UA-Compatible', 'IE=edge'); ?>

        <?= $this->headLink()->prependStylesheet($this->basePath() . '/css/admin.css')
                             ->prependStylesheet($this->basePath() . '/vendor/bootstrap/dist/css/bootstrap-theme.min.css')
                             ->prependStylesheet($this->basePath() . '/vendor/bootstrap/dist/css/bootstrap.min.css'); ?>

        <?= $this->headScript()->prependFile($this->basePath() . '/vendor/bootstrap/dist/js/bootstrap.min.js')
                               ->prependFile($this->basePath() . '/vendor/jquery/dist/jquery.min.js'); ?>

        <?= $this->headStyle(); ?>
    </head>

    <body style="height: 100%; width: 100%; padding: 0; display: table;">
        <div style=" display: table-cell; vertical-align: middle;">
            <div class="container center-block" style="width: 480px; margin-top: -10%;">
                <?= $this->content; ?>
            </div>
        </div> <!-- /container -->

        <?= $this->inlineScript(); ?>
    </body>
</html>