<?php $this->headTitle($this->translate('Application Error')); ?>

<div class="alert alert-danger">
    <h1><?= $this->translate('Application Error'); ?></h1>
    <?= $this->message; ?>
</div>

<?php if (isset($this->display_exceptions) && $this->display_exceptions): ?>
    <?= $this->exception($this->exception); ?>
<?php endif; ?>