<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><?php echo $this->translate('Delete user'); ?></h1>
    </div>

    <div class="panel-body">
        <p class="lead text-center"><?php echo sprintf($this->translate('Are you sure you want to delete the user \'%s\'?'), $this->user->getUsername()); ?></p>

        <form method="post" action="<?php echo $this->url(null, array(), array(), true); ?>">
            <div class="form-group text-center">
                <button class="btn btn-success" type="submit" name="confirmation" value="Yes"><?= $this->translate('Yes'); ?></button>
                <button class="btn btn-danger" type="submit" name="confirmation" value="No"><?= $this->translate('No'); ?></button>
            </div>
        </form>
    </div>
</div>