<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">
            <?= $this->translate('All users'); ?>
        </h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th style="width: 100%;"><?= $this->translate('Username'); ?></th>
                <th></th>
            </tr>
        </thead>

        <?php /** @var \TiaraAdmin\Entity\User $user */ ?>
        <?php foreach ($this->users as $i => $user): ?>
            <tr>
                <td><?php echo $i + 1; ?></td>
                <td style="width: 100%;"><?php echo $user->getUsername(); ?></td>
                <td style="white-space: nowrap;">
                    <a href="<?php echo $this->url('admin/users', array(
                        'action' => 'delete',
                        'id' => $user->getId()
                    )); ?>"><?php echo $this->translate('Delete'); ?></a>
                </td>
            </tr>
        <?php endforeach; ?>
    </table>
</div>