<?= $this->doctype(); ?>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle('TiaraSite', 'PREPEND')->setSeparator(' / ')->setAutoEscape(false); ?>

        <?= $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0')
                             ->appendHttpEquiv('X-UA-Compatible', 'IE=edge'); ?>

        <?= $this->headLink()->prependStylesheet($this->basePath() . '/css/site.css')
                             ->prependStylesheet($this->basePath() . '/vendor/bootstrap/dist/css/bootstrap-theme.min.css')
                             ->prependStylesheet($this->basePath() . '/vendor/bootstrap/dist/css/bootstrap.min.css'); ?>

        <?= $this->headScript()->prependFile($this->basePath() . '/vendor/bootstrap/dist/js/bootstrap.min.js')
                               ->prependFile($this->basePath() . '/vendor/jquery/dist/jquery.min.js'); ?>

        <?= $this->headStyle(); ?>
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="<?php echo $this->url('site') ?>">TiaraSite</a>
                </div>

                <div class="collapse navbar-collapse">
                    <?= $this->partial('partials/user-menu'); ?>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">
            <?= $this->content; ?>
        </div> <!-- /container -->

        <?= $this->inlineScript(); ?>
    </body>
</html>