<div class="jumbotron">
    <h1>Welcome to <span class="text-info">Tiara</span>!</h1>
    <p>
        Tiara Is Another Recursive Acronym. Pretty <strong class="text-info">clever</strong>, huh? Not as much as my
        <strong class="text-info">solutions</strong>! Custom built web applications. Zend Framework 2.
        Twitter Bootstrap. Blah ne znam što da ovdje napišeeeeeeem! Još teksta neakvoga
        <strong class="text-info">ali kakvogaaaaa</strong>!!
    </p>
    <p><a class="btn btn-primary btn-lg" href="<?= $this->url('admin'); ?>">Check it out &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('The backend') ?></h3>
            </div>
            <div class="panel-body">
                <p>If you need a web application, be it a website, CMS, CRM or anything. You might be interested in what
                    I'm currently working on. </p>
                <p>
                    I'm not much of a designer but I do make things clean.
                </p>

                <p>
                    Log in using ... username: admin, password: admin
                </p>
                <p>
                    <a class="btn btn-primary pull-right" href="<?= $this->url('admin');?>">
                        <?php echo $this->translate('TiaraAdmin') ?> &raquo;
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('I write code') ?></h3>
            </div>
            <div class="panel-body">
                <p>If you're interested in my code, take a look at some. Since I'm working with ZF2 lately, it's a
                    ZF2 Module/Library. Shocking, I know.</p>
                <p>
                    It's not much, but
                    you can get an idea about my skills. Documentation is missing, but I promise I'll write
                    it soon<sup>TM</sup>.</p>
                <p>
                    <a class="btn btn-primary pull-right" href="https://bitbucket.org/hipnaba/tiara-base/src" target="_blank">
                        <?php echo $this->translate('Fork me') ?> &raquo;
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Hire me on freelancer.com') ?></h3>
            </div>
            <div class="panel-body">
                <p>If you think there's anything i can make for you, contact me and we can talk shop!</p>
                <p>
                    <a class="btn btn-primary pull-right" href="https://www.freelancer.com/u/hipnaba.html" target="_blank">
                        <?php echo $this->translate('Hire me') ?> &raquo;
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>