<?php
use Zend\Form\Element\Hidden;
use Zend\Form\Element\Submit;

/** @var \Zend\Form\Element $element */
$element = $this->element;
/** @var \Zend\Form\View\Helper\FormElementErrors $errors */
$errors = $this->formElementErrors();
$errors->setMessageOpenFormat('<ul class="list-group"><li class="list-group-item list-group-item-danger">')
       ->setMessageSeparatorString('</li><li class="list-group-item list-group-item-danger">');

if ($element instanceof Submit) {
    if ($element->getName() == 'cancel') {
        $element->setAttribute('class', 'btn btn-danger');
    }
    else if ($element->getName() == 'save') {
        $element->setAttribute('class', 'btn btn-success');
    }
    else {
        $element->setAttribute('class', 'btn btn-primary');
    }
    echo $this->formButton($element) . "\n";
}
else if ($element instanceof Hidden) {
    echo $this->formHidden($element);
}
else {
    $element->setAttribute('class', 'form-control');
    ?>
    <div class="form-group">
        <?php if ($element->getLabel()) echo $this->formLabel($element); ?>
        <?= $this->formInput($element); ?>
        <?= $this->renderErrors ? $errors($element) : ''; ?>
    </div>
    <?php
}